<section>
  <h3>The sale of this product is restricted within 500 feet of Chicago schools.</h3>
  <ul>
    <li>Effective date of the restriction is: <strong class="info"><%= Date.parse(@product[:effective_date]).strftime("%m/%d/%Y") %></strong></li>
    <li>This is a <strong class="info"><%= @product[:brand] %> <%= @product[:product] %></strong></li>
    <li>The Chicago Department of Public Health has determined this product has <strong class="info">“<%= @product[:flavor] %>”</strong> as a characterizing flavor.</li>
  </ul>

  <p>Inquiries about flavored tobacco products may be sent to <a href="mailto:flavoredtobacco@cityofchicago.org">flavoredtobacco@cityofchicago.org</a>. Please include brand, product type and either images of the packaging or a link to a website where the product is sold. The Department of Public Health will respond within 30 days.</p>
</section>