<ul>
  <li><strong>In Chicago, flavored tobacco products cannot be sold within 500 feet of a school.</strong></li>
  <li>To help tobacco retailers comply with the law, the Chicago Department of Public Health and the Department of Business Affairs and Consumer Protections maintain a non-exclusive database of flavored tobacco products that are restricted near schools. The flavored tobacco product database is available <a href="https://data.cityofchicago.org/Health-Human-Services/Restricted-Flavored-Tobacco-Products/5wce-bks2" title="Flavored Tobacco Product Database on the City of Chicago's Data Portal" target="_blank">here</a>.</li>
  <li>If you are uncertain whether a product being sold is restricted, search the database by typing in the product information above. If you cannot find a particular product on this list or if you have any questions, contact: <a href="mailto:flavoredtobacco@cityofchicago.org">flavoredtobacco@cityofchicago.org</a>.</li>
</ul>

<h3>Did you know...?</h3><br>
<ul>
  <li>Kids (ages 12-17) use menthol-flavored cigarettes more than any other age group.</li>
  <li>Tobacco products that have menthol, mint, fruit, candy, spices, and other characterizing flavors are proven starter products for kids.</li>
</ul>