<ul>
  <li><strong>In Chicago, flavored tobacco products cannot be sold within 500 feet of a school.</strong></li>
  <li>To assist tobacco retailers comply with the law, the Chicago Department of Public Health and the Department of Business Affairs and Consumer Protections maintain a database of flavored tobacco products that are restricted near schools.</li>
  <li>If you are uncertain whether a product being sold is restricted, search the database by typing in the product's UPC code above. To receive a complete copy of updated lists by email, contact: <a href="mailto:healthychicago@cityofchicago.org">healthychicago@cityofchicago.org</a>.</li>
  <li>As new products are added to the list, retailers will be given 90 days to deplete their existing stock of flavored products. All sales of flavored tobacco products must cease within 90 days of publication.</li>
</ul>

<h3>Did you know...?</h3><br>
<ul>
  <li>Kids (ages 12-17) use menthol-flavored cigarettes more than any other age group.</li>
  <li>Tobacco products that have menthol, mint, fruit, candy, spices, and other characterizing flavors are proven starter products for kids.</li>
</ul>